@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 16px;
}

@media (max-width: 680px) {
    body {
        font-size: 12px;
    }
}

.custom-text-18 {
    font-size: 18px;
}